.header {
    border-bottom: 1px solid #ececec;
    & .container {
        @extend %FlexCentered;
    }
    &__logo {
        color: var(--primary-text-color);
    }
    &__logo--right-margin {
        margin-right: 93px;
    }
}

@import './nav';
@import './contact-us';