.footer {
    background-color: var(--primary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    & .container {
        display: flex;
        align-items: baseline;
    }
    &__contacts {
        margin-right: 70px;
    }
    &__logo {
        color: var(--hero-text-color);
    }
    & .logo {
        display: inline-block;
        margin-bottom: 20px;
    }
}

.address {
    &__item &__office {
        color: var(--hero-text-color);
    }
    &__link {
        font-weight: 400;
        font-size: var(--text-font-size);
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--address-text-color);
    }
    &__item+&__item {
        margin-top: 9px;
    }
}