.main-tasks {
    &__list {
        display: flex;
    }
    &__item {
        flex-basis: calc((100% - 30) / 4);
    }
    &__item+&__item {
        margin-left: 30px;
    }
    &__container {
        @extend %FlexCentered;
        height: 120px;
        background-color: var(--secondary-background-color);
        margin-bottom: 30px;
    }
    &__title {
        margin-bottom: 10px;
        @include Fonts(700, 14px, 1.14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-text-color);
    }
    &__text {
        @include Fonts(400, 14px, 1.71);
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
    }
}


/* для display:flex вместо width нужно использовать flex-basis */